 <%= render ("navbar") %>

<h1 align="center">Guest list</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">お名前</th>
          <th scope="col">Email</th>
          <th scope="col">アレルギー</th>
          <th scope="col">本・マンガ</th>
        </tr>
      </thead>
      <% @articles.each do |guest| %>
      <tbody>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.email %></td>
          <td><%= guest.email %></td>
          <td><%= guest.book %></td>
        </tr>
      </tbody>
      <% end %>
    </table>




<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
